.mightnight-theme {
	$primary: #202040;
	$secondary: #2020c0;
	$tertiary: #602040;
	$accent: #9fffdf;
	$text: #ffffff;

	$one: #1b143d;
	$two: #25286b;
	$three: #5d67a5;
	$four: #5f4670;
	$five: #b79a4a;

	$text-dark: #101010;
	$text-light: #ffffff;
	background: $primary;
	color: $text;

	button {
		@include button($accent);
	}

	a {
		@include link($accent);
	}
	img {
		box-shadow: 15px 15px 0 $three;
	}

	li {
		border: none;
		color: $text-dark;
	}

	li:nth-child(1) {
		background: $one;
		color: $text-light;
	}
	li:nth-child(2) {
		background: $two;
	}
	li:nth-child(3) {
		background: $three;
	}
	li:nth-child(4) {
		background: $four;
	}
	li:nth-child(5) {
		background: $five;
	}

	li:nth-child(6) {
		background: $two;
	}
	li:nth-child(7) {
		background: $three;
	}
	li:nth-child(8) {
		background: $four;
	}
	li:nth-child(12) {
		background: $five;
	}
	#menu-bar {
		background: $five;
		color: $text-light;
		margin: 0;
		padding: 0 1rem;
		#pop-out {
			// top: 60px;
		}
		nav {
			background: $five;
			padding: 5rem 0.5rem;
			color: $text-dark;
		}
	}
	li:nth-child(1) {
		background: $one;
		img {
			box-shadow: -80px 0 0 0 $one;
		}
	}

	li:nth-child(2) {
		background: $two;
		img {
			box-shadow: -80px 0 0 0 $two;
		}
	}

	li:nth-child(3) {
		background: $three;
		img {
			box-shadow: -80px 0 0 0 $three;
		}
	}

	li:nth-child(4) {
		background: $four;
		img {
			box-shadow: -80px 0 0 0 $four;
		}
	}

	li:nth-child(5) {
		background: $five;
		img {
			box-shadow: 7-80px 0 0 0 $five;
		}
	}

	li:nth-child(6) {
		background: $one;
		img {
			box-shadow: -80px 0 0 0 $one;
		}
	}

	li:nth-child(7) {
		background: $two;
		img {
			box-shadow: -80px 0 0 0 $two;
		}
	}

	li:nth-child(8) {
		background: $three;
		img {
			box-shadow: -80px 0 0 0 $three;
		}
	}

	li:nth-child(9) {
		background: $four;
		img {
			box-shadow: -80px 0 0 0 $four;
		}
	}
}
