.southwest-theme {
	// $primary: #ff7f7f;
	// $secondary: #9fffdf;
	$secondary: #88dddd;
	// $tertiary: #39aa99;
	$tertiary: #0bb2ae;

	$one: #0bb2ae;
	$two: #88dddd;
	$three: #ff6657;
	$four: #e87b2f;
	$five: #cc5012;
	$six: #9d1a0e;
	$seven: #600000;
	$eight: #11264e;

	$text: #202020;
	$text-dark: #101010;
	$text-light: #ffffff;
	// background: $primary;
	// background: #f8e0d0;
	background: #ffffff;

	color: $text;

	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
		sans-serif;

	button {
		@include button($three);
	}

	a {
		@include link($six);
	}

	h1,
	h3,
	#logo {
		font-family: "Chivo";
	}
	#logo {
		font-weight: 700;
		text-transform: lowercase;
	}

	p {
		font-weight: 300;
	}

	.tooltip .tooltiptext {
		background: $one;
		color: $text;
	}

	li:nth-child(1) {
		background: $one;
	}
	li:nth-child(2) {
		background: $two;
	}
	li:nth-child(3) {
		background: $three;
	}
	li:nth-child(4) {
		background: $four;
	}
	li:nth-child(5) {
		background: $five;
	}
	li:nth-child(6) {
		// color: $text-light;
		background: $six;
	}
	li:nth-child(7) {
		background: $seven;
		// color: $text-light;
	}
	li:nth-child(8) {
		background: $one;
	}
	li:nth-child(9) {
		background: $two;
	}
	li:nth-child(10) {
		background: $three;
	}
	li:nth-child(11) {
		background: $four;
	}
	li:nth-child(12) {
		background: $five;
	}
	li:nth-child(13) {
		color: $text-light;
		background: $six;
	}
	li:nth-child(14) {
		background: $seven;
		color: $text-light;
	}

	img {
		box-shadow: 15px 15px 0 $secondary;
	}
	#menu-bar {
		background: $eight;
		background: $one;
		color: $text-dark;
		#static-items #menu-buttons button span {
			background: $text-dark;
		}
		#pop-out {
			a:hover {
				color: #ffffff;
			}
		}
		nav {
			background: $eight;
			background: $one;
			color: $text-dark;
			li:nth-child(1) {
				background: $two;
			}
			li:nth-child(2) {
				background: $three;
			}
			li:nth-child(3) {
				background: $four;
			}
			li:nth-child(4) {
				background: $five;
			}
		}
	}

	@mixin projectImages($primary) {
		box-shadow: 20px 20px 0 0 rgba($primary, 0.5);
	}

	li:nth-child(1) {
		background: $one;
		img {
			box-shadow: -80px 0 0 0 $one;
		}
	}
	#project-images div:nth-child(1) img {
		@include projectImages($one);
	}

	li:nth-child(2) {
		background: $two;
		img {
			box-shadow: -80px 0 0 0 $two;
		}
	}
	#project-images div:nth-child(2) img {
		@include projectImages($two);
	}

	li:nth-child(3) {
		background: $three;
		img {
			box-shadow: -80px 0 0 0 $three;
		}
	}

	#project-images div:nth-child(3) img {
		@include projectImages($three);
	}

	li:nth-child(4) {
		background: $four;
		img {
			box-shadow: -80px 0 0 0 $four;
		}
	}
	#project-images div:nth-child(4) img {
		@include projectImages($four);
	}

	li:nth-child(5) {
		background: $five;
		img {
			box-shadow: 7-80px 0 0 0 $five;
		}
	}
	#project-images div:nth-child(5) img {
		@include projectImages($five);
	}

	li:nth-child(6) {
		background: $six;
		img {
			box-shadow: 7-80px 0 0 0 $six;
		}
	}
	#project-images div:nth-child(6) img {
		@include projectImages($six);
	}

	li:nth-child(7) {
		background: $seven;
		img {
			box-shadow: -80px 0 0 0 $seven;
		}
		// color: $text-light;
	}

	#project-images div:nth-child(7) img {
		@include projectImages($seven);
	}

	li:nth-child(8) {
		background: $eight;
		img {
			box-shadow: -80px 0 0 0 $eight;
		}
		// color: $text-light;
	}

	#project-images div:nth-child(8) img {
		@include projectImages($eight);
	}

	li {
		&.no-background {
			background: none;
		}
		img {
			transform: translate(40px);
		}
	}
}
