.sunset-theme {
	// $primary: #202040;
	// $secondary: #2020c0;
	// $tertiary: #602040;
	// $accent: #d2e4f0;
	// $text: #ffffff;

	$background: #081d41;
	$text: #d2e4f0;

	$one: #eeaf61;
	$two: #fb9062;
	$three: #ee5d6c;
	$four: #ce4993;
	$five: #6a0d83;
	$six: #1f3684;

	$text-dark: #101010;
	$text-light: #d2e4f0;

	font-family: "Comfortaa";
	background: $background;
	color: $text;

	h1 {
		font-weight: 700;
		font-size: 1.75rem;
	}
	h2,
	h3 {
		font-weight: 300;
	}
	.project-page {
		h2 {
			font-weight: 700;
			font-size: 1.4rem;
			border-bottom: 1px solid $three;
		}
	}

	button {
		@include button($text-light);
	}

	a {
		@include link($text-light);
	}
	img {
		box-shadow: 15px 15px 0 $three;
	}

	#menu-bar {
		background: $six;
		margin: 0;
		padding: 0 1rem;
		#pop-out {
		}
		nav {
			padding: 5rem 0.5rem;
			li {
				color: $text-dark;
			}
		}
	}

	@mixin projectImages($primary) {
		box-shadow: 20px 20px 0 0 $primary;
	}

	li:nth-child(1) {
		background: $one;
		img {
			box-shadow: -80px 0 0 0 $one;
		}
	}
	#project-images div:nth-child(1) img {
		@include projectImages($one);
	}

	li:nth-child(2) {
		background: $two;
		img {
			box-shadow: -80px 0 0 0 $two;
		}
	}

	#project-images div:nth-child(2) img {
		@include projectImages($two);
	}

	li:nth-child(3) {
		background: $three;
		img {
			box-shadow: -80px 0 0 0 $three;
		}
	}

	#project-images div:nth-child(3) img {
		@include projectImages($three);
	}

	li:nth-child(4) {
		background: $four;
		img {
			box-shadow: -80px 0 0 0 $four;
		}
	}

	#project-images div:nth-child(4) img {
		@include projectImages($four);
	}

	li:nth-child(5) {
		background: $one;
		img {
			box-shadow: -80px 0 0 0 $one;
		}
	}

	#project-images div:nth-child(5) img {
		@include projectImages($one);
	}

	li:nth-child(6) {
		background: $two;
		img {
			box-shadow: -80px 0 0 0 $two;
		}
	}

	#project-images div:nth-child(6) img {
		@include projectImages($two);
	}

	li:nth-child(7) {
		background: $three;
		img {
			box-shadow: -80px 0 0 0 $three;
		}
	}

	#project-images div:nth-child(7) img {
		@include projectImages($three);
	}

	li:nth-child(8) {
		background: $four;
		img {
			box-shadow: -80px 0 0 0 $four;
		}
	}

	#project-images div:nth-child(8) img {
		@include projectImages($four);
	}

	li:nth-child(9) {
		background: $one;
		img {
			box-shadow: -80px 0 0 0 $one;
		}
	}

	li:nth-child(10) {
		background: $two;
		img {
			box-shadow: -80px 0 0 0 $two;
		}
	}

	li:nth-child(11) {
		background: $three;
		img {
			box-shadow: -80px 0 0 0 $three;
		}
	}
	li {
		border: none;
		color: $text-light;
		&.no-background {
			background: none;
		}
		img {
			transform: translate(40px);
		}
	}
}
