#menu-bar {
	nav {
		padding: 10rem 0.5rem;
	}
	#logo {
		font-size: 1.2rem;
	}

	#static-items {
		display: flex;
		justify-content: space-between;
		align-items: center;
		#menu-buttons {
			padding: 0.5rem 0;
			height: 35px;
		}
	}
	#pop-out {
		width: 100%;
		z-index: 50;
		position: absolute;
		left: 0;
		top: 51px;
		background: inherit;
		transition: 1s ease;

		nav ul li {
			margin: 1rem 0.5rem;
			text-align: center;
			padding: 0;
			border-radius: 10px;

			a {
				padding: 0.75rem 1rem;
				display: block;
				width: 100%;
				height: 100%;
				border-radius: 10px;
			}
		}
		&.hidden {
			display: block;
			top: -100%;
		}
	}
}

@media (min-width: 768px) {
	#menu-bar {
		display: flex;

		#static-items {
			width: 50%;

			#menu-buttons {
				display: none;
			}
		}
		#pop-out {
			display: block;
			padding: 10px 0;
			position: relative;
			top: 0;
			nav {
				padding: 0;
				ul {
					display: flex;
					justify-content: flex-end;
					align-items: center;
					height: 40px;
					li {
						margin: 0 0 0 1rem;
						border-radius: 10px;
					}
				}
			}
		}
	}
}
