#menu-bar {
	/* width: 100%; */
}

@media (min-width: 768px) {
	#menu-bar {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
}

#menu-bar #logo {
}

#menu-bar #static-items {
	/* outline: 2px solid #107010; */
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	align-items: center;
}

#menu-bar #static-items #menu-buttons {
	padding: 0.5rem 0;
	height: 35px;
}

@media (min-width: 768px) {
	#menu-bar #static-items {
		width: 50%;
	}
	#menu-bar #static-items #menu-buttons {
		display: none;
	}
}

#menu-bar #pop-out {
	width: 100%;
	z-index: 50;
	position: absolute;
	left: 0;
	top: 51px;
	background: inherit;
	// border-radius: 10px;

	nav ul li {
		margin: 1rem 0.5rem;
		text-align: center;
		padding: 0;
		border-radius: 10px;

		a {
			padding: 0.75rem 1rem;
			display: block;
			width: 100%;
			height: 100%;
			border-radius: 10px;
		}
	}
}

@media (min-width: 768px) {
	#menu-bar #pop-out {
		display: block;
		padding: 10px 0;
		position: relative;
		top: 0;
	}
	#menu-bar #pop-out nav {
		padding: 0;
	}
	#menu-bar #pop-out nav ul {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		height: 40px;
	}
	#menu-bar #pop-out nav ul li {
		// padding: 0.5rem 1rem;
		// font-size: 14px;
		margin: 0 0 0 1rem;
		border-radius: 10px;
	}
}
