body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ol,
ul,
li,
span,
button {
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	background: none;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	list-style: none;
	color: inherit;
	box-sizing: border-box;
}
