@import "reset";
@import "colors";

@mixin border() {
	border: 1px solid #ffffff;
}

@mixin blueTheme() {
	background: #002040;
	color: #ffffff;
}
@mixin redTheme() {
	background: #800000;
	color: #ffffff;
}

.blue-theme {
	@include blueTheme();
}
.red-theme {
	@include redTheme();
}
body {
	background-color: var(--main-bg-color);
	// color: $foreground;
}
main {
	z-index: 1;
	padding: 0 1rem 10rem;
	min-height: 90vh;
}
section {
	padding-top: 1rem;
}
li {
	padding-top: 1rem;
}
img {
	box-shadow: 25px 25px 0 #ff00ffc0;
	padding-top: 1rem;
}
a:hover {
	font-weight: 700;
}
.hidden {
	display: none;
}
.show {
	display: block;
}

.hero {
	padding-top: 3rem;
	border-bottom: 1px solid;
}
h1 {
	width: 50%;
}

footer {
	border-top: 1px solid #ffffff;
	/* height: 50px; */
	margin: 0 1rem;
	padding: 10px 0;
	height: 40px;
	/* display: flex; */
	/* align-items: center;
	height: 60px;
	width: 100%; */
	/* position: fixed; */
}
#menu-bar {
	/* width: 100%; */
}

@media (min-width: 768px) {
	#menu-bar {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
}

#menu-bar #logo {
}

#menu-bar #static-items {
	/* outline: 2px solid #107010; */
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	align-items: center;
}

#menu-bar #static-items #menu-buttons {
	padding: 10px 25px;
	height: 40px;
}

@media (min-width: 768px) {
	#menu-bar #static-items {
		width: 50%;
	}
	#menu-bar #static-items #menu-buttons {
		display: none;
	}
}

#menu-bar #pop-out {
	/* outline: 1px solid #c010a0; */
	width: 100%;
	background: #202040;
	color: #ffffff;
	z-index: 50;
	position: relative;
}

@media (min-width: 768px) {
	#menu-bar #pop-out {
		display: block;
		padding: 10px 25px;
	}
	#menu-bar #pop-out nav ul {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		height: 40px;
	}
	#menu-bar #pop-out nav ul li {
		padding: 0 1rem;
	}
}
